@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;500&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");

//-*----------  START COLORS BASE  ----------*/

$fancyFuchsiaColor-color: #E91E63;
$creamWhite-color: #F8F8FF;
$google-green: #34A853;
$amazon-orange: #F90;
$fancyPureBlue-color: #03A9F4;
$littleDarkTeal-color: #009688;
$optionPurple-box: #4A148C;
$floralwhite-color: #FFFAF0;
$flat-silver: #BDC3C7;
$goodBlackGray-color: #212121;
$bootstrap-black-color: #343A40;
$darkBlackBlue-color: #495057;
$bootstrap-primaryGray-color: #6C757D;
$optionGreen-box: $google-green;
$optionOrange-box: $amazon-orange;
$optionPink-box: $fancyFuchsiaColor-color;
$optionBlue-box: $fancyPureBlue-color;
$optionTeal-box: $littleDarkTeal-color;
$primaryWhite-color: $creamWhite-color;

//-*----------  END COLORS BASE  ----------*/

//-*----------  START FONTS BASE  ----------*/

$montserrat-font: "Montserrat";
$raleway-font: "raleway";
$workSans-font: "Work Sans", sans-serif;
$lobster-font: "Lobster", sans-serif;
$righteous-font: "Righteous", sans-serif;

//-*----------  END FONTS BASE  ----------*/

//%-*=====  End of GLOBAL STYLE SECTION  ======*-//

$main-font: $montserrat-font;
$title-font: $raleway-font;
$logo-font: $lobster-font;
$decorated-font: $righteous-font;

$primary-color: $google-green;
$primary-text-color: #2D2D2D;
$primary-background-color: white;
$secondary-background-color: #ECECEC;

$default-font-size: 1rem;

$primary-color: var(--primary-color);
