@import "../abstracts/variables";

:root {
    font-size: 16px;
    @media screen and (max-width: 600px) {
        font-size: 10px;
    }
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    max-width: 100vw;
    min-height: 100vh;
    overflow: hidden auto;
    user-select: none;
    font-size: $default-font-size;
    font-family: $main-font;
    color: $text-color;
    background-color: $primary-background-color;
    transition: padding 0.3s;

    &::-webkit-scrollbar {
        width: 0.45rem;
    }

    &::-webkit-scrollbar-track {
        background: #1E1E24;
    }

    &::-webkit-scrollbar-thumb {
        background: $primary-color;
        border-radius: 0.5rem;
    }
}

ul {
    list-style: none;
}

h2,
h3 {
    text-transform: capitalize;
}

h2 {
    font-size: 3rem;
}

p {
    line-height: 1.6;

    &::first-letter {
        text-transform: uppercase;
    }
}

a {
    color: inherit;
    text-decoration: none;
}

input,
button,
textarea {
    border: none;
}

textarea {
    resize: none;
}

hr {
    margin: 0;
    border: none;
    background-color: transparent;
    width: 100%;
    height: 3px;
    @media (max-width: 600px) {
        height: 3px !important;
    }
}

:focus {
    outline: none !important;
}

.container {
    width: 92%;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
    position: relative;

    @media (max-width: 476px) {
        width: 100% !important;
    }
}
