@import "../abstracts/mixins";

footer.app--footer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3% 0;
    background: linear-gradient(to right, black 35%, $primary-color 100%);

    p {
        font-size: 1.25rem;
        text-transform: capitalize;
        color: $primaryWhite-color;

        span {
            font-family: $raleway-font;
            font-size: larger;
            text-transform: capitalize;
            @include gradient-text(linear-gradient($primaryWhite-color, $primary-color));
        }
    }
}
