@import "../abstracts/variables";

.nav-bullets {
    width: 40px;
    position: fixed;
    top: 50%;
    right: 0;
    z-index: 10;
    transform: translateY(-50%);

    .bullet {
        width: 50%;
        height: 20px;
        border: 5px solid $primary-color;
        border-radius: 50%;
        box-shadow: 0 0 5px 4px #444;
        position: relative;
        cursor: pointer;

        &:not(:last-child) {
            margin-bottom: 55%;
        }

        .tooltip {
            position: absolute;
            top: 50%;
            left: -165px;
            transform: translateY(-50%);
            background-color: $primary-color;
            color: #F8F8FF;
            width: 140px;
            height: 35px;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0.3em;
            border-radius: 10px 0 0 10px;
            text-transform: capitalize;
            font-weight: 600;
            font-size: 0.88rem;
            vertical-align: middle;
            opacity: 0;
            visibility: hidden;
            transition: opacity 0.3s linear;
            pointer-events: none;

            &::after {
                content: "";
                position: absolute;
                top: 50%;
                right: -27px;
                transform: translateY(-49%);
                border-width: 17.5px 14px;
                border-style: solid;
                border-color: transparent transparent transparent $primary-color;
            }
        }

        &:hover {
            background-color: $primary-color;
            transform: scale(1.2);

            .tooltip {
                opacity: 1;
                visibility: visible;
            }
        }
    }

    @media (max-width: 600px) {
        width: 20px;
        .bullet {
            width: 13px;
            height: 13px;
        }
    }
}
