@import "../abstracts/mixins";

.settings-box {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    width: 280px;
    min-height: 100vh;
    background-color: $creamWhite-color;
    transform: translateX(-100%);
    transition: 0.3s;

    .toggle-settings {
        position: absolute;
        top: 15%;
        right: 0;
        padding: 0.25rem;
        cursor: pointer;
        background-color: inherit;
        border-radius: 0 20px 20px 0;
        transform: translateX(100%);
        transition: 0.3s;

        .fa-cog {
            font-size: 1.5rem;
        }

        &:hover {
            color: $primary-color;
        }
    }

    .settings-container {
        display: flex;
        flex-direction: column;
        height: 100vh;

        > div {
            overflow: hidden;
            padding: 3rem 0 7%;
            border-bottom: 2px solid rgba(0, 0, 0, 0.55);

            h4 {
                font-size: 1.25rem;
                text-shadow: -1px 1px 2px #000;
            }

            span {
                margin-bottom: 6%;
            }
        }

        .option-box--colors-switch {
            h4 {
                text-align: center;
                text-transform: capitalize;
                color: $primary-color;
            }

            hr {
                margin: 3rem 0;
                background-color: $primary-color;
                box-shadow: -1px -1px 20px #999;
            }

            ul.colors-list {
                display: flex;
                overflow: hidden;
                align-items: center;
                justify-content: space-evenly;
                flex-wrap: wrap;
                min-height: 10vh;

                li {
                    width: 2rem;
                    height: 2rem;
                    cursor: pointer;
                    border-radius: 50%;

                    &.active {
                        transform: scale(1.25);
                    }

                    &:first-of-type {
                        background-color: $optionGreen-box;
                    }

                    &:nth-of-type(2) {
                        background-color: $optionOrange-box;
                        box-shadow: 0 0 30px #ADADADC4;
                    }

                    &:nth-of-type(3) {
                        background-color: $optionPink-box;
                    }

                    &:nth-of-type(4) {
                        background-color: $optionBlue-box;
                    }

                    &:nth-of-type(5) {
                        background-color: $optionTeal-box;
                    }

                    &:last-of-type {
                        background-color: $optionPurple-box;
                    }
                }
            }
        }

        .option-box--random_bg,
        .option-box--bullets {
            display: flex;
            align-items: center;
            justify-content: space-around;
            flex-wrap: wrap;
            text-transform: capitalize;

            h4 {
                flex: 1 0 100%;
                max-width: 100%;
                margin-bottom: 7%;
                text-align: center;
                text-transform: inherit;
                color: $primary-color;
            }

            span {
                font-size: 1.05rem;
                font-weight: 700;
                padding: 2% 1rem;
                cursor: pointer;
                text-transform: inherit;
                color: #333;
                border: 2px solid $primary-color;
                border-radius: 0 20px 0 20px;
                transition: 0.3s;

                &:hover,
                &.active {
                    color: white;
                    background-color: $primary-color;
                }
            }
        }

        .option-box--reset {
            margin-top: auto;
            text-align: center;

            button {
                font-size: 1.1rem;
                line-height: 100%;
                padding: 0.85rem 1.25rem;
                text-transform: capitalize;
                color: $primaryWhite-color;
                background-color: $primary-color;
                border-radius: 20px 5px 20px 5px;
            }
        }
    }

    &.show {
        transform: translateX(0);
    }

    @include respond(custom-media, 0, 600px) {
        width: 180px;
    }
}
