@import "../abstracts/mixins";

section.testimonials {
    padding: 5% 0;
    position: relative;

    &::before,
    &::after {
        content: "";
        width: 50%;
        height: 100%;
        position: absolute;
        top: 0;
        z-index: -1;
    }

    &::before {
        background-color: $primary-color;
        left: 0;
    }

    &::after {
        background-color: $primary-color;
        right: 0;
        filter: opacity(0.8);
    }

    header {
        margin-bottom: 3rem;

        h2 {
            text-transform: capitalize;
            @include text-shadow;
            color: $primaryWhite-color;
        }
    }

    .testimonials-content {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;

        .testimonials-box {
            flex: 1;
            background-color: whitesmoke;
            border-radius: 0.5rem;
            padding: 2rem 1rem;
            overflow: hidden;
            transition: transform 0.3s;

            .description {
                font-size: 1.05rem;
                margin-bottom: 2%;
                font-weight: 500;
                color: $bootstrap-black-color;
            }

            img {
                display: block;
                max-width: 100%;
                height: auto;
                margin: 0 auto;
            }

            .person-name {
                @include text-shadow;
                display: block;
                font-size: 1.75rem;
                font-weight: bold;
                color: $primary-color;
                text-align: center;
                margin: 1.5rem 0 0;
                position: relative;
                z-index: 1;

                &::before,
                &::after {
                    content: "";
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    background-color: $primary-color;
                    width: 110px;
                    height: 3px;
                    z-index: -1;
                    transition-property: left, right, transform;
                    transition-duration: 0.5s;
                    transition-timing-function: cubic-bezier(.8, .5, .2, 1.4);
                }

                &::before {
                    left: 0;
                }

                &::after {
                    right: 0;
                }
            }

            .person-job--title {
                display: block;
                text-align: right;
                text-transform: capitalize;
                font-weight: 600;
                margin: 0.5rem 0;
                color: $primary-color;
            }

            &:not(:last-of-type) {
                margin-right: 2%;
            }

            &:hover {
                transform: translateY(-2%);

                .person-name {
                    &::before {
                        left: -100%;
                    }

                    &::after {
                        right: -100%;
                    }
                }
            }

            @media only screen and (max-width: 992px) {
                flex: 1 0 100% !important;
                margin-right: 0 !important;
                &:not(:last-of-type) {
                    margin-bottom: 3rem;
                }
            }
        }
    }
}
