@import "../abstracts/mixins";

section.testimonials {
    position: relative;
    padding: 5% 0;

    header {
        margin-bottom: 3rem;

        h2 {
            text-transform: capitalize;
            @include text-shadow;
            color: $primaryWhite-color;
        }
    }

    .testimonials-content {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 3rem 1rem;

        .testimonials-box {
            overflow: hidden;
            flex: 1;
            padding: 2rem 1rem;
            background-image: linear-gradient(30deg, whitesmoke 50%, darken(whitesmoke, 5%) 50%);
            border-radius: 0.5rem;
            transition: transform 0.3s;

            img {
                display: block;
                max-width: 100%;
                height: auto;
                margin: 0 auto;
            }

            .person-name {
                @include text-shadow;
                font-size: 1.75rem;
                font-weight: bold;
                position: relative;
                z-index: 1;
                display: block;
                margin: 1.5rem 0 0;
                text-align: center;
                color: $primary-color;

                &::before,
                &::after {
                    position: absolute;
                    top: 50%;
                    z-index: -1;
                    width: 16%;
                    height: 3px;
                    content: "";
                    background-color: $primary-color;
                    transform: translateY(-50%);
                    transition-timing-function: cubic-bezier(.8, .5, .2, 1.4);
                    transition-duration: 0.5s;
                    transition-property: left, right, transform;
                }

                &::before {
                    left: 0;
                }

                &::after {
                    right: 0;
                }
            }

            .person-job--title {
                font-weight: 600;
                display: block;
                margin: 0.5rem 0;
                text-align: right;
                text-transform: capitalize;
                color: $primary-color;
            }

            .description {
                font-size: 1.05rem;
                font-weight: 500;
                margin-bottom: 2%;
                color: $bootstrap-black-color;
            }

            &:hover {
                transform: translateY(-2%);

                .person-name {
                    &::before {
                        left: -100%;
                    }

                    &::after {
                        right: -100%;
                    }
                }
            }

            @include respond(tab-land) {
                flex: 1 0 100% !important;
            }
        }
    }

    &::before,
    &::after {
        position: absolute;
        top: 0;
        z-index: -1;
        width: 50%;
        height: 100%;
        content: "";
    }

    &::before {
        left: 0;
        background-color: $primary-color;
    }

    &::after {
        right: 0;
        background-color: $primary-color;
        filter: opacity(0.8);
    }
}
