@import "../abstracts/variables";

section.timeline {
    padding: 5% 0;
    background-image: repeating-linear-gradient(90deg, #EEE, #999);

    .timeline-content {
        position: relative;
        overflow: hidden;

        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
            width: 3px;
            height: 100%;
            background-color: $primary-color;
        }

        .year {
            margin: 2% auto;
            width: fit-content;
            background-color: $primary-color;
            color: $primaryWhite-color;
            position: relative;
            z-index: 2;
            padding: 1% 3%;
            text-align: center;
            font-size: 1.25rem;
            font-weight: 700;
            border-radius: 4px;
        }

        .timeline-hands__container {
            .left {
                margin-right: auto;

                &::before {
                    right: -48px;
                }

                &::after {
                    right: -30px;
                    border-color: transparent transparent transparent $primaryWhite-color;
                }
            }

            .right {
                margin-left: auto;

                &::before {
                    left: -48px;
                }

                &::after {
                    left: -30px;
                    border-color: transparent $primaryWhite-color transparent transparent;
                }
            }

            .left,
            .right {
                margin-bottom: 4%;
                position: relative;
                width: calc(50% - 35px);

                &::before {
                    content: "";
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    width: 25px;
                    height: 25px;
                    border-radius: 50%;
                    background-color: $primaryWhite-color;
                    border: 3px solid $primary-color;
                    z-index: 99;
                }

                &::after {
                    content: "";
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    border-width: 15px;
                    border-style: solid;
                    z-index: 99;
                }

                .content {
                    padding: 2%;
                    background-color: $primaryWhite-color;

                    h3 {
                        color: $primary-color;
                        font-size: 1.55rem;
                        margin-bottom: 1%;
                        text-transform: capitalize;
                    }

                    p {
                        line-height: 1.6;
                    }
                }
            }
        }
    }
}
